.card-body{
    border: rgb(6, 62, 166);
    background-color: rgb(177, 226, 247);
    padding: 2px;
}
.card-body h5{
    color: rgb(31, 86, 223);
}
button{
    background-color: rgb(237, 224, 109);
    color: black;
    width: 100px;
    height: 35px;
    border-radius: 20%;
}